# Runtime and launcher junk
.mixin.out/
logs/
crash-reports/
hs_err_pid*.log
debug.log
latest.log
ears-debug.log
irisUpdateInfo.json
servers.dat_old

# User-specific client settings
options.txt
servers.dat
emi.json
cherishedworlds-favorites.dat
config/yosbr/options.txt
journeymap/
emotes/
ESM/
data/fabricDefaultResourcePacks.dat
data/seasons_compat_warn.nbt
patchouli_data.json
rhino.local.properties
ModTranslations/chunksfadein.timestamp
config/artifacts/client.json5
config/appleskin.json5
config/betteradvancements.json
config/blur.json
config/capes.json5
config/chat_heads.json5
config/citresewn.json
config/citresewn-defaults.json
config/computercraft-client.toml
config/continuity.json
config/copycats-client.toml
config/create-client.toml
config/create_dd-client.toml
config/create_jetpack-client.toml
config/create_new_age-client.toml
config/createbigcannons-client.toml
config/createdieselgenerators-client.toml
config/createdynlight-client.toml
config/creategoggles-client.toml
config/createrailwaysnavigator-client.toml
config/cubes-without-borders.json
config/dynamic_fps.json
config/dynamiccrosshair.json5
config/embeddium-options.json
config/emi.css
config/entityculling.json
config/estrogen-client.toml
config/exposure-client.toml
config/fabricskyboxes-config.json
config/fallingleaves.json
config/farmersdelight-client.toml
config/firstperson.json
config/immersive_weathering-client.json
config/indium-renderer.properties
config/inventorysorter/
config/iris.properties
config/jade/
config/kiwi-client.yaml
config/languagereload.json
config/malilib.json
config/midnightcontrols.json
config/modelfix-client.json
config/modmenu.json
config/moonlight-client.json
config/notenoughanimations.json
config/plasmovoice/client.toml
config/railways-client.toml
config/refurbished_furniture.client.toml
config/resourcify.json
config/scholar-client.toml
config/seasonhud-client.toml
config/skinlayers.json
config/sliceanddice-client.toml
config/smoothscroll.json
config/snowrealmagic-client.yaml
config/sodiumdynamiclights-client.toml
config/sodiumextras-client.toml
config/sodium-extra-options.json
config/sodium-options.json
config/sodium-shadowy-path-blocks-options.json
config/valkyrienskies/vs_client.json
config/vivecraft-client-config.json
config/watut-client.toml
config/watut-item-arm-adjustments.json
config/worldeditcui.config.json
config/yacl.json5

# Mod-generated caches
config/jade/usernamecache.json
config/plasmovoice/meta_cache.json
config/plasmovoice/.crowdin/timestamp
